.ad-or-nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.ad-or-d-btn{
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.ad-or-d-btn:hover{
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    transform: scale(1.05);
}

.filter-btn{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 8px;
    /* margin: 5px; */
    border-radius: 5px;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    background-color: #fff;
    color: #007bff;
    transform: scale(1.05);
}

  .ad-ord-search-input {
    margin: 15px 0;
    width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}

.ad-ord-search-input:focus {
      border: 1px solid #007bff;
    outline: none;
  }
  
  